@rem: 200rem;
@g: 10/@rem;
@default: #66a6ff;

.wd(@w,@h) {
  width: @w/@rem;
  height: @h/@rem;
}

.bg(@img) {
  background-image: url('@{img}');
  background-size: cover;
  background-repeat: no-repeat;
}

.ps(@top,@left) {
  position: absolute;
  left: @left/@rem;
  top: @top/@rem;
}

.gradient1() {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.gradient2() {
  background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
}