<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!../../../common/layout/_header.html') %>
  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
  <title>列表 -- 地址管理</title>
  <% if (htmlWebpackPlugin.files.css.length) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
  <% } %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>  
</head>
<body>
  <div id="app">
    <div class="app-nav">
      <div class="app-nav-title">我的地址</div>
      <a href="../add/index.html" class="app-nav-right iconfont">&#xe6e0;</a>
    </div>
    <div class="address-list">
      <a href="../edit/index.html?id=1" class="address-list-item">
        <div class="list-item-title">新青年白领公寓</div>
        <div class="list-item-desc">浙江省杭州市西溪湿地公园浙江省杭州市西溪湿地公园浙江省杭州市西溪湿地公园</div>
        <div class="list-item-enter iconfont">&#xe6f8;</div>
      </a>
      <a href="../edit/index.html?id=1" class="address-list-item">
        <div class="list-item-title">新青年白领公寓</div>
        <div class="list-item-desc">浙江省杭州市西溪湿地公园</div>
        <div class="list-item-enter iconfont">&#xe6f8;</div>
      </a>
      <a href="../edit/index.html?id=1" class="address-list-item">
        <div class="list-item-title">新青年白领公寓</div>
        <div class="list-item-desc">浙江省杭州市西溪湿地公园</div>
        <div class="list-item-enter iconfont">&#xe6f8;</div>        
      </a>
    </div>
	</div>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>