@import '../../../common/css/_var.less';

#app {
  position: relative;
  height: 100%;

  .wrapper {
    height: 800/@rem;

    ul {
      padding: 0;
      margin: 0;   
    }

    li {
      height: 300/@rem;
      background-color: #eee;
      margin-bottom: @g;
    }
  }

}



