@import '../../../common/css/_var.less';

#app {
  position: relative;
  height: 100%;

  .wrapper {
    padding: @g;
    height: 100%;
    overflow-y: auto;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      height: 125/@rem;
    }
  }

}



